# An OpenSSL format CSR config file for creating a client certificate.
# The certificate is for user "ssltestuser" with a single URI subject
# alternative name.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
CN                     = ssltestuser

[ v3_req ]
subjectAltName         = @alt_names

[ alt_names ]
URI.1                  = spiffe://postgresql.example/ns/default/sa/ssltestuser
