# An OpenSSL format CSR config file for creating a client certificate.
# The certificate is for user "ssltestuser" with multiple URI subject
# alternative names.  With clientname=URI, PostgreSQL rejects certificates
# with more than one URI SAN.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
CN                     = ssltestuser

[ v3_req ]
subjectAltName         = @alt_names

[ alt_names ]
URI.1                  = spiffe://postgresql.example/ns/default/sa/not-the-user
URI.2                  = spiffe://postgresql.example/ns/default/sa/ssltestuser
